.main-content {
    margin-top: 80px;
    padding: 2rem;
    max-width: 1024px;
    margin-left: auto;
    margin-right: auto;
}

.item-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 2rem;
    margin-bottom: 2rem;
}
.search-form {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
}

.search-input {
    width: 100%;
    padding: 1rem 3rem 1rem 1.5rem;
    border: 2px solid #2f9e44;
    border-radius: 50px;
    background-color: white;
    font-size: 1.1rem;
    outline: none;
}

.search-button {
    position: absolute;
    right: 1rem;
    background: none;
    border: none;
    padding: 0.5rem;
    cursor: pointer;
    color: #2f9e44;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease;
}

.search-button:hover {
    color: #237032;
    transform: scale(1.1);
}

.search-input:focus {
    box-shadow: 0 0 0 3px rgba(47, 158, 68, 0.2);
}

