<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>배추 : 상품 목록</title>
    <link rel="stylesheet" th:href="@{/static/css/common.css}">
    <link rel="stylesheet" th:href="@{/static/css/item-list.css}">
</head>
<body>
<div th:replace="~{include/header :: header}"></div>
<a th:href="@{/items/new}">상품 등록</a>

<table class="item-list-table">
    <thead>
    <tr>
        <th>번호</th>
        <th>상품명</th>
        <th>판매자</th>
        <th>가격</th>
        <th>카테고리</th>
        <th>상태</th>
        <th>상세보기</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="item : ${itemList}">
        <td th:text="${item.id}">번호</td>
        <td th:text="${item.name}">상품명</td>
        <td th:text="${item.member.userId}">판매자 아이디</td>
        <td th:text="|${#numbers.formatInteger(item.price, 3, 'COMMA')}원|">가격</td>
        <td th:text="${item.category}">카테고리</td>
        <td>
                <span th:switch="${item.status}">
                    <span th:case="${T(joonggo.baechoo.domain.Status).AVAILABLE}" style="color: blue; font-weight: 500;">판매중</span>
                    <span th:case="${T(joonggo.baechoo.domain.Status).SOLD_OUT}" style="color: red; font-weight: 500;">판매완료</span>
                    <span th:case="${T(joonggo.baechoo.domain.Status).DELETED}" style="color: grey;">삭제됨</span>
                </span>
        </td>
        <td>
            <a th:href="@{'/items/' + ${item.id}}" class="item-detail-link">상세보기</a>
        </td>
    </tr>
    </tbody>
</table>

<div th:replace="~{include/footer :: footer}"></div>
</body>
</html>